*
!modules/
!modules/**
!scripts/
!scripts/** 
scripts/R/outputs/**
!python/
!python/**
!R/
!R/**
!main.nf
!nextflow.config
!gdc_download.sh
!ega_download.sh
.DS_Store
!gdc_download.sh
!ega_download.sh

