executor {
    name = 'slurm'
    queue = 'defq'
}

process {
    withName: 'TestInstall' {
        cpus = 2
        memory = '5 GB'
        time = '96 h'
    }

    withName: 'AmpliconSuite' {
        cpus = 2
        memory = '5 GB'
        time = '96 h'
    }

    withName: 'DataSummary' {
        cpus = 2
        memory = '1 GB'
        time = '24 h'
    }
}

singularity {
    enabled = true
}

trace {
    overwrite = false
}

