// Make SLURM the primary executor
executor {
    name = 'slurm'
    queue = 'defq'
}

// Allocate HPC resources to each process
process {
    withName: 'TestInstall'{
        cpus = 20
        memory = '64 GB'
        time = '4 h'
    }

    withName: 'AmpliconSuite' {
        cpus = 2
        memory = '5 GB'
        time = '48 h'
    }

    withName: 'DataSummary' {
        cpus = 2
        memory = '1 GB'
        time = '24 h'
    }
}

// Enable the use of singularity images/containers.
singularity {
    enabled = true
}

