// Set SLURM as the primary executor and specify the default queue
executor {
    name = 'slurm'
    submitRateLimit = '1/1min'
}

// Allocate HPC resources to each process
process {
    // Specific settings for 'TestInstall' process
    withName: 'TestInstall' {
        cpus = 10
        memory = '5 GB'
        time = '1 h'
    }

    // Specific settings for 'AmpliconSuite' process
    withName: 'AmpliconSuite' {
        cpus = 5
        memory = '25 GB'
        time = '96 h'
    }
}

// Enable the use of Singularity 
singularity {
    enabled = true
}